@model CadastroCliente.Models.Address

@{
    ViewData["Title"] = "Details";
}

<div>
   
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.NomeCompleto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.NomeCompleto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.CPF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Logradouro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<div>
   
    <a asp-action="Index">Voltar</a>
</div>
